<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Property Listing</h5>
            <p-toast></p-toast>
            <p-table [value]="properties" dataKey="propertyName" [expandedRowKeys]="expandedRows" responsiveLayout="scroll" [tableStyle]="{ 'min-width': '60rem' }">
                <ng-template pTemplate="caption">
                    <button pButton icon="pi pi-fw {{isExpanded ? 'pi-minus' : 'pi-plus'}}" label="{{isExpanded ? 'Collapse All' : 'Expand All'}}" (click)="expandAll()"></button>
                    <div class="flex table-header">
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th>
                            <div class="flex justify-content-between align-items-center">Property Name</div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">Price Per night</div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">Checkin time</div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">Checkout time</div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">Refundable</div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">Cleaning Fee</div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">Bedroom Count</div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">Create Booking</div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-property let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="property" class="p-button-text p-button-rounded p-button-plain" (click)="loadBookings(property)"  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>

                        </td>
                        <td>{{property.propertyName}}</td>
                        <td>{{property.pricePerNight}}</td>
                        <td></td>
                        <td></td>
                        <td>{{property.isRefundable}}</td>
                        <td>{{property.cleaningFee}}</td>
                        <td>{{property.bathroomCnt}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success" (click)="openCreateBooking(property)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-property>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table [value]="property.bookings" dataKey="propertyName">
                                    <ng-template pTemplate="header">

                    <tr>
                        <th>
                            <div class="flex justify-content-between align-items-center">Property Name</div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">Check In Date</div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">Check Out Date</div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">Adults</div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">Children</div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">Guest Email</div>
                        </th>
                        <th style="width: 4rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-bookings>
                    <tr>
                        <td>{{bookings.propertyName}}</td>
                        <td>{{bookings.checkInDate}}</td>
                        <td>{{bookings.checkOutDate}}</td>
                        <td>{{bookings.adultGuestNum}}</td>
                        <td>{{bookings.childGuestNum}}</td>
                        <td>{{bookings.guestEmail}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">There are no bookings for this property yet.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>
        <p-dialog [(visible)]="bookingDialogVisible" class="p-fluid"  header="Add Booking" [modal]="true" [style]="{width:'450px'}">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="user_firstName">Name of Property</label>
                    <input type="text" pInputText id="user_firstName" [(ngModel)]="propertyToCreateBooking.propertyName"  [disabled]="true"/>
                </div>

                <div class="field">
                    <label for="checkin_date">CheckIn Date</label>
                    <!--input type="text" pInputText id="checkin_date" [(ngModel)]="bookingToBeSaved.checkInDate" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !bookingToBeSaved.checkInDate}"/-->
                    <p-calendar appendTo="body" id="checkin_date" [(ngModel)]="bookingToBeSaved.checkInDate" dateFormat="dd.mm.yy" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !bookingToBeSaved.checkInDate}"></p-calendar>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !bookingToBeSaved.checkInDate">CheckIn date is required.</small>
                </div>
                <div class="field">
                    <label for="checkout_date">CheckOut Date</label>
                    <!--input type="text" pInputText id="checkout_date" [(ngModel)]="bookingToBeSaved.checkOutDate" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !bookingToBeSaved.checkOutDate}"/-->
                    <p-calendar appendTo="body" id="checkout_date" [(ngModel)]="bookingToBeSaved.checkOutDate" dateFormat="dd.mm.yy"  required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !bookingToBeSaved.checkOutDate}"></p-calendar>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !bookingToBeSaved.checkOutDate">CheckOut date is required.</small>
                </div>

                <div class="field">
                    <label for="adultGuestNum">Adult Guest number</label>
                    <input type="text" pInputText id="adultGuestNum" [(ngModel)]="bookingToBeSaved.adultGuestNum" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !bookingToBeSaved.adultGuestNum}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !bookingToBeSaved.adultGuestNum">Adult Guest number  is required.</small>
                </div>

                <div class="field">
                    <label for="childGuestNum">Child Guest number</label>
                    <input type="text" pInputText id="guestEmail" [(ngModel)]="bookingToBeSaved.childGuestNum" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !bookingToBeSaved.guestEmail}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !bookingToBeSaved.guestEmail">Child Guest number  is required.</small>
                </div>

                <div class="field">
                    <label for="childGuestNum">Guest Email</label>
                    <input type="text" pInputText id="childGuestNum" [(ngModel)]="connectedUser" [disabled]="true"/>
                </div>


            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="createBooking()"></button>
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>



