<div class="grid">
    <div class="col-12">
        <div class="card">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="firstName">First Name</label>
                    <input type="text" pInputText id="firstName" [(ngModel)]="user.firstName" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.firstName}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.firstName">Name is required.</small>
                </div>
                <div class="field">
                    <label for="lastName">Last Name</label>
                    <input type="text" pInputText id="lastName" [(ngModel)]="user.lastName" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.lastName}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.lastName">Name is required.</small>
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" pInputText id="email" [(ngModel)]="user.email" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.email}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.email">Name is required.</small>
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input type="text" pInputText id="password" [(ngModel)]="user.password" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.password}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.password">Name is required.</small>
                </div>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="registerUser()"></button>
                </ng-template>
            </ng-template>
        </div>
    </div>
</div>
